@model List<And.Ecommerce.Core.Model.Entity.Product>
@{
    ViewBag.Title = "Index";
    //var isLogin = (bool)ViewBag.IsLogin;
}

<h2>E-Commerce</h2>
<h3>Last 5 Products</h3>
@*@{ 
    foreach (var  item in Model)
    {
    <div class="productBox">
       
            <p class="title">@item.Name</p>
            <img src="@item.ImageUrl" />
            <p>@item.Description</p>
            <p>@item.Brand</p>
            <p>@item.Price.ToString("##,## ₼")</p>
            <a href="/products/@item.Name.Replace(" ","-")/@item.ID" class="btn btn-success">Details</a>
            @if (isLogin)
            {
                <a href="#" data-pID="@item.ID" class="btn btn-default addBasket"><i class="fas fa-shopping-basket"></i> Add to Cart</a>
            }
       
    </div>
    }
}*@
<div id="andModal" title="Information">
    <br />
    Item added to Basket <br /> <br />
    <a class="btn btn-success text-white" href="@Url.Action("Index","Basket")">My Basket</a>
</div>
<div class="row"></div>
<style>
    .productBox{
        width:220px;
        float:left;
        margin:10px;
        border:2px solid #9b9b9b;
        padding:10px;
    }
    .productBox img{
        width:100%
    }
    .productBox title{
        font-weight:bold;
        text-align:center;
    }
    .productBox p{
        text-align:center;
    }



</style>
@section script{
    <script type="text/javascript">
     $(".addBasket").on("click", function () {
            $("#andModal").dialog();
        });
            $( function() {
                $("#andModal").dialog({
                    autoOpen: false,
                    show: {
                        effect: "blind",
                        duration: 1000
                    },
                    hide: {
                        effect: "explode",
                        duration: 1000
                    }
                });
           
                $(".addBasket").on("click", function () {
                    var pid = $(this).attr("data-pID"); 
                    $.post("/Basket/AddProduct?productID="+pid, function (data) {
                        $("#andModal").dialog("open");
                    });
                
                return false;
            });
          } );

    </script>
    }
