@model IEnumerable<And.Ecommerce.Core.Model.Entity.Product>

@if (ViewBag.NotVerified != null)
{
    <div class="alert alert-danger">
        @ViewBag.NotVerified
    </div>
}
<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-md-4 col-sm-4">
            <div class="card" style="width: 18rem;">
                @if (product.ProductImages != null && product.ProductImages.Count() != 0)
                {
                    <img style="height:300px;" src="@Url.Content("~/Documents/ProductImages/" + product.ProductImages[0].ImageUrl)" class="card-img-top" alt="@product.Brand">

                }
                else
                {
                    <img style="height:300px;" src="@Url.Content("~/Documents/ProductImages/no-image.png")" class="card-img-top" alt="@product.Brand">

                }<div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Price ₼</p>
                    @*<a href="@Url.Action(product.Name.Replace(" ","-"),"Product",new { id = product.ID})" class="btn btn-primary float-left">In Detail</a>*@
                    <a href="@Url.Action(product.Name.Replace(" ", "-"),"Products",new { id = product.ID})" class="btn btn-primary float-left">In Detail</a>
                    @if (ViewBag.IsLogin)
                    {
                        <button data-pID="@product.ID" class="addBasket btn btn-success float-right text-white">Add to Cart</button>
                    }
                </div>
            </div>
        </div>
    }
    <div id="andModal" title="Information">
        <br />
        Item added to Basket <br /> <br />
        <a class="btn btn-success text-white" href="@Url.Action("Index","Basket")">My Basket</a>
    </div>
</div>
@section scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(".addBasket").on("click", function () {
            $("#andModal").dialog();
        });
        $(function () {
            $("#andModal").dialog({
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000
                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $(".addBasket").on("click", function () {
                var pid = $(this).attr("data-pID");
                $.post("/Basket/AddProduct?productID=" + pid, function (data) {
                    $("#andModal").dialog("open");
                });

                return false;
            });
        });

    </script>
}
